body {
    margin: 20px;
}

.content {
    width: 100%;
    background-color: blue;
    border: 2px solid white;
    border-radius: 15px;
    padding: 30px;
    color: white;
}

.dateInput {
    width: 30%;
    display: inline-block;
}

.help-button {
    float: right;
}
